<h1>Welcome to the Lord of the Rings Official Game!</h1>
<p>You are Frodo. Your mission is to destroy the ring of power. You have managed to work your way to the Black Gate of Mordor. However, the gate is heavily guarded.</p>
<p>You must decide whether to attempt to enter through the Black Gate or take the stairs that your guide, Gollum, suggests.</p>
<p>Take the <%= link_to "Black Gate", game_gate_path %></p>
<p>Take the <%= link_to "stairs", game_stairs_path %></p>
