<h1>Bad Choice!</h1>
<p>You have decided the fate of your life and the lives of all good creatures in Middle Earth.
  Sauron has detected your location and will come to destroy you! Your friends will die. Sorry!</p>
