<h1>You chose the Black Gate!</h1>
<p>Five minutes after entering through the front door to Mordor, you are confronted by a group of 3 trolls.</p>
<p>Choose your weapon...</p>
<p><%= link_to "The Ring of Power", game_ring_path %></p>
<p><%= link_to "Sting", game_sting_path %></p>
