<h1>You are now visible to the trolls!</h1>
<p>Because they serve the dark lord, Sauron, they have the ability to see you even with the ring on your finger! You have been eliminated from Middle Earth. Better luck next time!</p>
