<h1>You chose to take the stairs that Gollum recommended.</h1>
<p>Gollum has led you up the stairs and to a dark tunnel. You enter the cave and discover that
  Gollum has abandoned you. Without a guide, you are hopelessly lost. Suddenly, a giant spider leaps out
  of the shadows and attempts to attack you!!!!! You must fight back!</p>
<p><%= link_to "Put on the Ring", game_death_path %></p>
<p><%= link_to "Fight with a rock", game_life_path %></p>
